<div class="col-6 mt-3">
  <div class="d-flex align-items-center justify-content-between bg-secondary p-3 rounded">
    <%= link_to list.name, list, class: "nav-link text-white" %>
    <div class="d-flex align-items-center gap-3">
      <span class="badge text-bg-secondary"><%= list.movies.count %> movies in</span>
      <%= link_to user_list_edit_path(list), class: "text-white" do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%= link_to user_list_destroy_path(list), class: "text-danger",
      data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure you want to delete #{list.name}?"
      } do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </div>
  </div>
</div>