<h1 class="text-center my-3">Your profile</h1>

<div class="row">
  <div class="col-md-8 mx-auto px-3">
    <h2 class="text-center">Your lists</h2>
    <ul class="list-group">
      <% @lists.each do |list| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= link_to list.name, list %>
          <div class=" d-flex align-items-center gap-3">
            <span class="badge text-bg-secondary"><%= list.movies.count %></span>
            <%= link_to settings_list_destroy_path(list), class: "text-danger", data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure you want to delete this list?"
            } do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>