<% @hero_movies = [
      { poster_url: "https://media1.ledevoir.com/images_galerie/nwd_230771_163004/image.jpg", title: "Mommy (2014)" },
      { poster_url: "https://www.hollywoodreporter.com/wp-content/uploads/2022/03/MCDGODF_EC002.jpg?w=2000&h=1126&crop=1", title: "Godfather (1972)" },
      { poster_url: "https://media.newyorker.com/photos/59097b4a8b51cf59fc423bff/16:9/w_1280,c_limit/Tolentino-Handmaiden.jpg", title: "Handmaiden (2016)" }
    ]
    index = rand(0..2)
%>

<%= render "layouts/page_list", ai_reco: true, reco_path: recommendation_list_path(@list), search_on: favorites_path, title: @list.name, image_url: @hero_movies[index][:poster_url], movie_title: @hero_movies[index][:title], movie_rating: "8.0", section: "lists", search_on: list_path(@list) %>

<div class="container-section d-flex flex-column flex-wrap">
  <div class="row">
  <% if !@list_movies.nil? %>
  <% @list_movies.each do |list_movie| %>
    <%= render "movies/movie", movie: list_movie.movie, carousel:false, bs_class: "col-sm-6 col-md-6 col-lg-3 col-xl-2 my-2 text-wrap text-center" %>
  <% end %>
<% else %>
  <p>No movie in this list yet</p>
<% end %>
  </div>
</div>
