<div class="container d-flex flex-column flex-wrap px-5 py-3">
  <div class="row">
  <h2>Watched Movies</h2>
  <% if !@watched_movies.empty? %>
  <% @watched_movies.each do |watched_movie| %>
    <%= render "movies/movie", movie: watched_movie.movie, section: "watched" %>
  <% end %>
<% else %>
  <p>No movies watched yet</p>
<% end %>
  </div>
</div>
