<div class="container d-flex flex-column flex-wrap px-5 py-3">
  <div class="row">
  <h2>Watch Later</h2>
  <% if !@watch_laters.empty? %>
  <% @watch_laters.each do |watch_later| %>
    <%= render "movies/movie", movie: watch_later.movie, section: "watch_later" %>
  <% end %>
<% else %>
  <p>No movies watched yet</p>
<% end %>
  </div>
</div>
