<%=  render "layouts/page", search_on: watch_later_index_path, title: "Watch Later", image_url: "https://thumb.canalplus.pro/http/unsafe/1440x810/filters:quality(80)/canalplus-cdn.canal-plus.io/p1/unit/22429211/canal-ouah_50001/STD169/myCANAL_16x9_MEA_1920x1080-HcLS", movie_title: "Yannick", position: "center" movie_rating: "7.0" %>

<div class="container d-flex flex-column flex-wrap px-5 py-3">
  <div class="row">
  <% if !@watch_laters.empty? %>
  <% @watch_laters.each do |watch_later| %>
    <%= render "movies/movie", movie: watch_later.movie, section: "watch_later", lists: @lists_sidebar, carousel: false %>
  <% end %>
<% else %>
  <p>No movies added in your watchlist... yet!</p>
<% end %>
  </div>
</div>
