$card-img-height: 250px;

.container-grid::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Darkening */
  backdrop-filter: blur(10px); /* Blurring */
  z-index: -1;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  height: 100vh;

  &__header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column: 1 / span 12;
    grid-row: 1 / span 12;
    background-size: cover;

    .search-box {
      grid-column: 3 / 10;
      grid-row: 2 / 11;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        color: var(--primary);
      }

      h3 {
        color: white;
        text-transform: initial;
        text-align: center;
      }

      h4 {
        color: white;
        text-transform: uppercase;
      }

      .buttons {
        button {
          background-color: white;
          padding: 10px 20px;
          border: none;
          border-radius: 35px;
          margin-right: 10px;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            background-color: var(--primary-dark);
          }

          span {
            width: 20px;
            height: 20px;
            position: relative;
            border-radius: 50%;
            background-color: #d9d9d9;
          }
          i {
            position: absolute;
            font-size: 0.7rem;
          }
        }
      }

      form {
        width: 100%;
        overflow: hidden;

        input,
        button {
          padding: 0 30px;
        }

        input {
          width: 100%;
          border-radius: 0;
          border: none;
          outline: none;
          border-radius: 35px 0px 0px 35px;
          &::placeholder {
            opacity: 0.7;
          }
        }

        button {
          background-color: var(--primary);
          span {
            font-weight: 300;
          }
          border-radius: 0px 35px 35px 0px;
        }
      }
    }
  }
}

input.search-input::placeholder {
  color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.carousel {
  position: relative;

  .siema {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .siema-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;

    .movie-card {
      width: 100%;
      img {
        transition: all 0.3s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
      }
      &__buttons {
        left:0px;
        width: 100%;
        // justify-content: space-between;

        i {
          padding: 12px;
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }

  button {
    background-color: transparent;
    padding: 0;
    border: none;
    margin-right: 0;
    cursor: pointer;
    transition: none;
    &:hover {
      background-color: transparent;
    }
  }

  .prev {
    left: 10px;
    svg:first-child {
      transform: rotate(180deg);
    }
  }

  .next {
    right: 10px;
  }

  .prev,
  .next {
    position: absolute;
    top: $card-img-height / 2;
    cursor: pointer;
    color: white;
    border: none;
    padding: 10px;
  }
}

section {
  h2 {
    color: var(--body-color); //#333;
    font-size: 18px;
    font-weight: 400;
  }
}

section.special {
  margin-top: -10%;
  h2 {
    color: white;
  }
}

.result {
  margin-top: -10%;
}

.result .title {
  color: white;
}

@media all and (max-width: 1919px) {
  .container-grid {
    &__header {
      h2 {
        font-size: 1.3rem;
        font-weight: 400;
      }

      h3 {
        font-size: 3.6rem;
        font-weight: 700;
      }

      h4 {
        font-size: 1.3rem;
        font-weight: 400;
      }

      form {
        height: 50px;
      }

      button small{
        font-size: 0.7rem;
      }
    }
  }

  section {
    padding: 0 50px;
    h2 {
      font-size: 1.3rem;
    }
  }

  .carousel {
    .siema-slide {
      .movie-card {
        img {
          height: 250px;
        }
      }
    }
  }
}

@media all and (min-width: 1920px) {
  .container-grid {
    &__header {
      h2 {
        font-size: 24px;
        font-weight: 500;
      }

      h3 {
        font-size: 68px;
        font-weight: 700;
      }

      h4 {
        font-size: 22px;
        font-weight: 400;
      }
      form {
        height: 60px;
      }
    }
  }

  section {
    padding: 0 20px;

    h2 {
      font-size: 24px;
    }
  }

  .carousel {
    .siema-slide {
      .movie-card {
        img {
          height: 280px;
        }
      }
    }
  }
}
