.page_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding: 0 40px;

  &__search {
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;

    .find_similar{
      border-radius:30px;
    }

    .search-container {
      display: flex;
      align-items: center;
      background-color: #E9EBF0;
      border-radius: 25px;
      padding: 8px 20px;
      width: 20%;
    }

    .search-icon {
      color: #aaa;
      font-size: 16px;
    }

    .search-input {
      border: none;
      outline: none;
      background-color: transparent;
      margin-left: 10px;
      color: #333;
      width: 100%;
    }

    .search-input::placeholder {
      color: #aaa;
    }

    .search-input[type=number]::-webkit-inner-spin-button,
    .search-input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

  }

  &__header {
    grid-column: 1 / span 12;
    border-radius: 25px;
    background-size: cover;

    grid-row: 2 / span 11;
    align-self: center;
    height: 95%;

    &__content {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(4, 1fr);
      height: 100%;

      h2,
      h3 {
        color: white;
      }

      .movie_title{
        grid-row: 2 / span 2;
        grid-column: 2 / 5;
        place-content: center;
      }

      h2 {
        font-weight: 500;
        grid-row: 1 / span 1;
        grid-column: 2 / span 6;
        align-self: center;
      }

      h3 {
        font-size: 58px;
        // grid-row: 2 / span 1;
        // place-content: start;
        // grid-column: 2 / span 4;
        text-transform: initial;
        font-weight: 700;
        line-height: 1;
      }

      .rating {
        // grid-row: 3 / span 1;
        // grid-column: 2 / span 6;
        display: flex;
        gap: 10px;
        color: white;
        font-weight: 400;
        align-items: baseline;

        span {
          color: var(--primary);
          font-weight: 600;
        }
      }

      .buttons {
        grid-row: 4 / span 1;
        display: flex;
        align-items: center;
        grid-column: 2 / span 4;

        button {
          margin-right: 15px;
        }

        button:not(:first-child) {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: solid 1px white;
          background: rgba(255, 255, 255, 0.2);

          &:hover {
            background: white;

            >i {
              color: black !important;
            }
          }

          button,
          i {
            transition: all .4s ease-in-out;
          }
        }
      }
    }
  }
}


.page_container.favourites{
  button.favourites {
    background-color: white;
      >i {
        color: black !important;
      }
    }
}

.page_container.watched{
  button.watched {
    background-color: white;
      >i {
        color: black !important;
      }
    }
}

.page_container.watch_later{
  button.watch_later {
    background-color: white;
      >i {
        color: black !important;
      }
    }
}






@media all and (max-width: 1919px){
  .page_container {
    height: 80vh;


    &__search {


      .search-icon {
        font-size: 16px;
      }

      .search-input {
        font-size: 16px;
      }

    }

    &__header {


      &__content {

        h2 {
          font-size: 18px;
          font-weight: 500;
        }

        h3 {
          font-size: 58px;
        }

        .rating {
          font-size: 16px;
          font-weight: 400;

          span {
            font-size: 50px;
            font-weight: 600;
          }
        }
      }
    }
  }
}




@media all and (min-width: 1920px){
  .page_container {
    height: 70vh;


    &__search {


      .search-icon {
        font-size: 16px;
      }

      .search-input {
        font-size: 16px;
      }

    }

    &__header {


      &__content {

        h2 {
          font-size: 20px;
          font-weight: 600;
        }

        h3 {
          font-size: 68px;
          font-weight:600;
        }

        .rating {
          font-size: 20px;
          font-weight: 400;

          span {
            font-size: 64px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
