.card-result{
  background: #E9EBF0;
  border-radius: 20px;
  display: flex;
  justify-content: between;
  padding:5%;

  i{
    width: 2rem!important;
    height: 2rem!important;
  }

  .movie-card__content{
    display:none!important;
  }

  img{
    width:100%;
    height: 250px;
    border-radius: 20px;
    object-fit: cover;
  }

  &__info{
    padding:0 5%;
    width:50%;
    display:flex;
    flex-flow: column;

    &__title{
      text-transform: initial;
      color: #1F1F1F;
      font-size:30px;
    }
    &__rating{
      font-size: 12px;
      color: #586174;
      span{
        color: var(--primary);
        font-size: 20px;
        font-weight:600;
      }
    }
    &__quote{
      font-size:18px;
      color: #1F1F1F;
    }
    &__description{
      font-size: 14px;
      color: #1F1F1F;
    }
  }
}
