<div class="container-grid">
  <div class="container-grid__header" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('https://exitmag.fr/wp-content/uploads/sites/21/2024/04/The-Fall-Guy-1-Ryan-Gosling.webp');">
    <div class="search-box d-flex flex-column">
      <h2>The best movie search engine<h2>
      <h3>Tired of searching 3 hours for a movie idea?</h3>
      <%= form_with url: recommendations_path, method: :get, class: "d-flex search-form my-4", data: { controller: "prompt" } do %>
        <%= text_field_tag :query,
          params[:query],
          class: "search-input",
          data: { prompt_target: "input" }
        %>
        <%= button_tag(type: 'submit', name: '', class: ' search-button') do %>
          <div class="d-flex align-items-center"><%= render 'icon' %><span class="ms-2">Search</span></div>
        <% end %>
      <% end %>
      <h4 class="mt-4">Last searches</h4>
      <div class="buttons d-flex">
        <button class="d-flex justify-content-between align-items-center">
          <small class="me-2">Movies with keanu reeves</small><span class="d-flex justify-content-center align-items-center"><i class="fas fa-times"></i></span>
        </button>
        <button class="d-flex justify-content-between align-items-center">
          <small class="me-2">Action movies 2h max</small><span class="d-flex justify-content-center align-items-center"><i class="fas fa-times"></i></span>
        </button>
        <button class="d-flex justify-content-between align-items-center">
          <small class="me-2">French 60’s movies</small><span class="d-flex justify-content-center align-items-center"><i class="fas fa-times"></i></span>
        </button>
      </div>
    </div>
  </div>
  <div class="container-grid__content">
  </div>
