<div class="container px-5">
  <div class="d-flex justify-content-between w-100 align-items-center my-5">
    <h5 class="display-4">Results</h5>
    <%= link_to 'Back to Home', root_path, class: 'btn btn-primary mb-3' %>
  </div>
  <section class="container">
    <div class="row">
      <% @gpt_query.query_movies.each do |query_movie| %>
        <%= render "recommendations/card_result", movie: query_movie.movie, query: query_movie %>
      <% end %>
    </div>
  </section>
</div>
