<div class="results" style="background-image: url('https://miro.medium.com/v2/resize:fit:1400/1*OStY-m2h-snCRWmtIPhfoQ.png')">
  <%= link_to 'Back to Home', root_path, class: 'btn btn-primary mb-3' %>
  <div class="search-results">
    <h3>Results for <%= @gpt_query.query %>:</h3>
    <% @movies.each do |movie| %>
      <div class="movie">
        <h4><%= movie.title %></h4>
        <p><%= movie.description %></p>
      </div>
    <% end %>
  </div>
</div>
