<div class="results">
  <%= link_to 'Back to Home', root_path, class: 'btn btn-primary mb-3' %>
  <div class="search-results">


<section class="container px-4 result">
  <% @gpt_query.query_movies.each do |query_movie| %>
    <h2 class="title"><%= query_movie.reco_title %></h2>
    <div class="row">
      <% movie = query_movie.movie %>
        <%= render "movies/movie", movie: movie, carousel: false %>
        <%= render "movies/quote_card", reco_title: query_movie.reco_title, reco_description: query_movie.reco_description %>

    </div>
  <% end %>
</section>
