<div class="quote-card col-sm-6 col-md-6 col-lg-3 col-xl-2 my-2 mr-2 text-wrap text-center d-flex align-items-center justify-content-center">
  <div class="quote-wrapper">
    <h2><%= reco_title %></h2>
  </div>
  <p><%= reco_description %></p>
</div>
