<div class="container d-flex flex-column flex-wrap px-5 py-3">
  <div class="row">
  <h2>All the movies you can find on the website</h2>
  <% @movies.each do |movie| %>
    <%= render "movies/movie", movie:movie %>
  <% end %>
   <div class="d-flex justify-content-center">
      <%= paginate @movies %>
    </div>
  </div>
</div>
