<h1 class="my-3 text-center">All the movies you can find on the website</h1>

<div class="container"> 
  <div class="row">
    <% @movies.each do |movie| %>
      <%= render 'movie', movie: movie %>
    <% end %>
    <div class="d-flex justify-content-center">
      <%= paginate @movies %>
    </div>
  </div>
</div>

