<div data-controller="dark-mode">
  <input type="checkbox" class="checkbox" id="checkbox" data-action="click->dark-mode#toggle">
  <label for="checkbox" class="checkbox-label">
    <span class="ball d-flex justify-content-center align-items-center">
      <i class="fas fa-moon"></i>
    </span>
  </label>
</div>
