 <div class="color-scheme-switcher">
  <div class="toggle-container">
    <button id="switch-mode" class="toggle-btn" data-action="click->dark-mode#toggle" data-dark-mode-target="button">
      <span class="icon light-mode" aria-hidden="true"></span>
      <span class="light-text text-label">Switch to dark mode</span>
      <span class="dark-text text-label">Switch to light mode</span>
      <span class="icon dark-mode" aria-hidden="true"></span>
    </button>
  </div>
</div>
