<div class="container d-flex flex-column flex-wrap px-5 py-3">
  <div class="row">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="darkModeToggle" data-action="click->dark-mode#toggle">
      <label class="form-check-label" for="darkModeToggle">Dark mode</label>
    </div>
  </div>
  <div class="row">
  <h2>Your recent Movies</h2>
  <% @movies.each do |movie| %>
    <%= render "movies/movie", movie:movie %>
  <% end %>
  </div>
</div>
