<div class="container d-flex flex-column flex-wrap px-5 py-3">
  <div class="row">
  </div>
  <div class="row">
  <h2>Your recent Movies</h2>
  <% @movies.each do |movie| %>
    <%= render "movies/movie", movie:movie %>
  <% end %>
  </div>
</div>
