.chatroom {
  background: white;
  height: calc(100vh - 25px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 25px;
  background: var(--more-light-gray);

  .chatroom-header {
    border-bottom: 1px solid var(--secondary);
    margin-bottom: 0;
    padding: 1rem;
    background-color: white;
    width: 100%;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.vh-100 {
  height: 100vh;
}

.chatrooms {
  overflow-y: scroll;

  .active {
    background: $gray-100;
  }
}

.users-list {
  overflow-y: scroll;

  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    height: 0;
  }
}

.message-input {
  .form-control {
    border-radius: 0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
  }

  .form-control:focus {
    border-color: var(--primary);
    box-shadow: none;
  }

  .btn-send {
    background-color: var(--primary);
    /* Bright green color */
    color: white;
    border-radius: 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    //border: #00FF96 solid 1px;
  }

  .btn-send:focus,
  .btn-send:hover {
    background-color: var(--primary);
    /* Slightly darker green for hover/focus */
  }
}

.card-no-rounded {
  border-radius: 0;
}