.movie-count {
  $size:25px;
  border-radius: 4px;
  margin: 0;
  background: var(--gray);
  color: var(--body-bg);
  font-size: .8rem;
  height: $size;
  width: $size;
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;

  p {
    position: absolute;
    margin: 0;
  }
}

.padding {
  padding: .2rem;
}
