.movie-count {
  $size:30px;
  border-radius: 50%;
  margin: 0;
  background: var(--gray);
  color: var(--body-bg);
  padding: $size / 2;
  font-size: .8rem;
  height: $size;
  width: $size;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }
}

.padding {
  padding: .2rem;
}
