.movie-count {
  border-radius: 50%;
  margin: 0;
  background: var(--body-bg);
  color: var(--body-color);
  padding: 5px 10px;
  font-size: .8rem;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }
}

.padding {
  padding: .2rem;
}