.message {
  border: 2px solid var(--body-bg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: var(--body-bg);
  color: var(--body-color);
  border-radius: 20px;
}

.messages {
  overflow-x: auto;
  /* Permet le défilement horizontal */

  /* Pour Firefox */
  scrollbar-width: thin;
  /* Réduit la taille de la barre de défilement horizontale */
  scrollbar-color: transparent transparent;
  /* Masque la barre de défilement horizontale */

  /* Pour WebKit (Chrome, Safari, Opera) */
  &::-webkit-scrollbar {
    height: 0;
    /* Masque la barre de défilement horizontale */
  }
}

.fa-arrow-left {
  font-size: 1.5em;
}

.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

// To style the message itself
.sender-style,
.receiver-style {
  width: 70%;
  max-width: 400px;
  border-radius: 8px;
  padding: 8px;
  min-height: 80px;
  margin: 0.6rem 0;
}

// To style the message itself
.sender-style,
.receiver-style {
  background-color: white;
}

.message-input {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}