.movie-card {
  p{
    color: var(--text-color);
  }
  img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
  }
  small {
    color: var(--light);
  }

  figure {
    position: relative;
    margin: 0;

    .watched, .watch_later, .favorite {
      opacity:1;
      color: var(--primary)!important;
      border-color: var(--primary)!important;
    }

    i{
      opacity: 0;
      transition: all 0.4s ease;
      padding: 10px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.7);
      font-size: 1rem;
      margin: 0 2px;
      border: solid 2px white;

      &:hover {
        opacity: 1!important;
        color: var(--primary)!important;
        border-color: var(--primary)!important;
        background-color: rgba(0, 0, 0, 1);
        cursor: pointer;
      }
    }
    &:hover i{
      opacity: 0.7;
    }
  }

  &__buttons {
    position: absolute;
    bottom: 15px;
    left: 10px;
  }
}

@media screen and (max-width: 1280px) {
  .movie-card {
    img {
      height: 280px;
    }
  }
}
