.card-animation{
  transition: all .6s ease-in-out;
}

.movie-card {
  transition: all .6s ease-in-out;

  p{
    color: var(--text-color);
  }
  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
  }
  small {
    color: var(--light);
  }

  figure {
    position: relative;
    margin: 0;
    overflow: hidden;
    border-radius: 7px;

    .watched, .watch_later, .favorite {
      opacity:1;
      color: var(--primary)!important;
      border-color: var(--primary)!important;
    }

    i{
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
      padding: 10px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
      border: solid 2px white;

      &:hover {
        opacity: 1!important;
        color: var(--primary)!important;
        border-color: var(--primary)!important;
        background-color: rgba(0, 0, 0, 1);
        cursor: pointer;
      }
    }
    &:hover i{
      opacity: 0.7;
    }
  }

  &__buttons {
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 10px;

    // position: absolute;
    // bottom: 15px;
    // left: 0;
    // display: flex;
    // align-items: center;
    // justify-content: space-evenly;
    // width: 100%;
    // padding:0 20px;
  }

  button.show i{
    opacity: 1!important;
    color: var(--primary)!important;
    border-color: var(--primary)!important;
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
  }
}

@media all and (max-width: 1280px) {
  .movie-card {
    img {
      height: 280px;
    }

    figure{
      i{
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

@media all and (min-width: 1281px) and (max-width: 1440px) {
  .movie-card {
    figure{
      i{
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}

.quote-card {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quote-wrapper {
  font-style: italic;
  font-size: 24px;
  text-align: center;
}

.quote-wrapper::before,
.quote-wrapper::after {
  content: "“";
  color: #ccc;
  font-size: 48px;
  line-height: 0.8;
  vertical-align: middle;
}

.quote-wrapper::after {
  content: "”";
}

.quote-wrapper h2 {
  display: inline;
  font-style: normal;
  font-weight: bold;
  color: #333;
}
