.sidebar {
  color: #586174;
  height: 100%;
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 13;
  position: sticky;
  align-items: center;
  height: 100%;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;

  p{
    font-weight: 300;
  }

  svg {
    width: 90%;
    height: auto;
  }

  h1 {
    color: var(--primary);
  }
  ul.links {
    li {
      padding: 0.5rem 1rem;
      list-style-type: none;
      color: var(--gray);
      transition: all 0.3s ease;
      font-weight: 300;
      i {
        transition: all 0.3s ease;
        color: var(--body-color);
      }
      &:hover, &.active {
        background-color: #f1f1f1;
        border-radius: 7px;
        i {
          color: var(--primary);
        }
      }
    }

    .profile {
      img {
        border: solid 2px gray;
        width: 40px;
        height: 40px;
      }
      small {
        font-size: 0.8rem;
      }
    }

  }

  img.list-thumbnail{
    width:30px;
    height:30px;
    aspect-ratio: 1/1;
    border-radius:7px;
    object-fit: cover;
  }

}
