.sidebar{
  background: black;
  height: 100%;
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 1 / 13;
  display: flex;
  flex-direction: column;
}

.sidebar h1{
  color:red
}

.dropdown{
  position: absolute;
  bottom: 100px;
  width: 100%;
}
