// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  background-color: $light-white;
  color: $light-dark;

  .btn-primary {
    background-color: $dark-primary;
    border-color: $dark-primary;
  }

  .btn-secondary {
    background-color: $dark-secondary;
    border-color: $dark-secondary;
  }

  .sidebar {
    background-color: $light-gray;
    svg {
      path {
        fill: $dark-primary;
      }
    }
  }

  .content {
    background-color: $light-white;
  }
}

main.dark-mode {
  background-color: $dark-secondary;
  color: $dark-white;

  .btn-primary {
    background-color: $dark-primary;
    border-color: $dark-primary;
  }

  .btn-secondary {
    background-color: $dark-secondary;
    border-color: $dark-secondary;
  }

  .sidebar {
    background-color: $dark-dark;
    svg {
      path {
        fill: $light-white;
      }
    }
  }

  .content {
    background-color: $dark-secondary;
  }
}
