// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Import HK Grotesk font
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

.logo {
  path {
    fill: var(--primary);
  }
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6, * {
  font-family: "Hanken Grotesk", sans-serif;
  font-style: normal;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

body {
  transition: all 0.3s;
  background-color: var(--body-bg);
  color: var(--body-color);
}

main {
  .sidebar {
    background-color: var(--light-gray);

    svg {
      path {
        fill: var(--primary);
      }
    }
  }
  .content {
    background-color: var(--body-bg);
  }
}

.btn-primary {
  background-color: var(--primary);
  &:hover {
    background-color: var(--primary-dark);
  }
}

.btn-secondary {
  background-color: var(--secondary);
  &:hover {
    background-color: var(--secondary-dark);
  }
}

.btn-primary, .btn-secondary {
  border:none;
}

.container-section{
  padding: 40px;
}

@media screen and (min-width: 1920px){
  small{
    font-size: 1rem;
  }
  input{
    font-size: 20px;
  }
}
